<script>
      'use strict';
      angular.module("myApp", [])
          .controller("scoreCtrl", function ($scope) {
            
      var formatMeasures = function(measures, mPerLine=5) {
        var newArray = [];
        for(var x=0;x<measures.length;x++) {
          if(x%mPerLine===0) {
            newArray.push("\n" + measures[x]);
          }
          else {
            newArray.push(measures[x]);
          }
        }
        return newArray.join("|");
      }
      var initialServerData = <%if(score.measures.length) { %> <%- JSON.stringify(score.measures) %> <% } else { %> [] <% } %>;
      var serverMeasures = initialServerData.sort(function(a,b) { return a.measureNumber - b.measureNumber}).map(function(a){ return a.measureValue});
      
      $scope.tune = {
        // investigate the weird apostrophe stuff (might involve changing %= to %- 
        title: '<%=score.name%>',
        tempo: <%=score.tempo%>,
        key:   '<%=score.key%>',
        time:  '<%=score.time%>',
        measures : serverMeasures
      }
      $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + formatMeasures($scope.tune.measures) + "|";
      
      
      $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{},{});
      console.log($scope.abcTune);
      $scope.measureNumber = 0;
      $scope.measureValue = new String("");
      $scope.selected = "create";
      
      io.socket.on('connect', function() {
      io.socket.get('/score/joinRoom/'+<%=score.id%>, function(resData, jwres) {console.log(resData);});
      if (!io.socket.alreadyListeningToMeasures) {
        io.socket.alreadyListeningToMeasures = true;
        io.socket.on('message', function onServerSentEvent (msg) {
    	  console.log(msg);
          // Let's see what the server has to say...
          switch(msg.verb) {
    
            case 'created':
              $scope.tune.measures.push(msg.measure.measureValue);
              $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + "|" + formatMeasures($scope.tune.measures) + "|";
              console.log($scope.abcTune);
              $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{},{});
              
              // (re-render)
              break;
    		    case 'updated':
    		      $scope.tune.measures[msg.measure[0].measureNumber-1] = msg.measure[0].measureValue;
    		      $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + "\n" + formatMeasures($scope.tune.measures) + "|";
              $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{},{});
    			    // handle update
    			    break;
    			  case 'destroyed':
    			    $scope.tune.measures.splice(msg.measureNumber-1,1);
    			    $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + "\n" + formatMeasures($scope.tune.measures) + "|";
              $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{},{});
    			    break;
            default: return; // ignore any unrecognized messages
          }
        });
      }
    });
      
      $scope.kickoff = function() {
        console.log($scope.selected);
        switch($scope.selected) {
          case "create":
            $scope.create();
            break;
          case "update":
            $scope.update();
            break;
          case "destroy":
            $scope.destroy();
            break;
        }
        
      }
      $scope.update = function() {
      	io.socket.post('/measure/update', {owner: <%=score.id%>, measureNumber: $scope.measureNumber, measureValue: $scope.measureValue }, function (resData, jwRes) {
    	  });
    
      }
      $scope.create = function() {
      	io.socket.post('/measure/create', {owner: <%=score.id%>, measureNumber: $scope.tune.measures.length, measureValue: $scope.measureValue}, function (resData, jwRes) {
      	});
      }
      $scope.destroy = function() {
        io.socket.post('/measure/destroy', {owner: <%=score.id%>, measureNumber: $scope.measureNumber}, function(resData, jwRes) {
        });
      };
    });
</script>
<div ng-app="myApp" ng-controller="scoreCtrl"</div>
<div id="midi"></div>
<div id="warnings"></div>
<div id="music"></div>
<div id="paper0"></div>
<div id="paper1"></div>
<div id="paper2"></div>
<div id="paper3"></div>
  <div class="form-group">
  <label for="create">Create</label>
  <input type="radio" ng-model="selected" name="action" value="create" class="form-control" id="create">
  </div>
  <div class="form-group">
  <label for="update">Update</label>
  <input type="radio" ng-model="selected" name="action" value="update" class="form-control" id="update">
  </div>
  <div class="form-group">
  <label for="destroy">Destroy</label>
  <input type="radio" ng-model="selected" name="action" value="destroy" class="form-control" id="destroy">
  </div>

  <div class="form-group">
  <label for="measureNumber">Measure Number</label>
  <input type="number" ng-disabled="selected==='create'" ng-model="measureNumber" id="measureNumber" class="form-control" required>
  </div>
  <div class="form-group">
  <label for="measureValue">Measure Value</label>
  <input type="text" ng-disabled="selected==='destroy'" ng-model="measureValue" id="measureValue" required>
  </div>
  <button class="btn btn-default" ng-click="kickoff()">Go</button>
</div>